@model List<Anfrage>

<h3>Alle Tickets:</h3>
<table class="table table-bordered table-striped table-sm">
    <thead>
        <tr>
            <th>TicketId </th>
            <th>Kundenname</th>
            <th>Mitarbeitername</th>
            <th>Deadline</th>
            <th>Status</th>
            <th>Nachricht</th>
            <th>Kommentar</th>
            <th>Kommentar hinzufügen</th>
            <th>Löschen</th>
        </tr>
    </thead>
    <tbody>

        <h1>Admin Seite</h1>
        @foreach (Anfrage anfrage in Model)
        {

            <tr>
                <td>@anfrage.Id</td>
                <td>@anfrage.KundenName</td>
                <td>@anfrage.MitarbeiterName</td>
                <td>@anfrage.DeadLine</td>
                <td>@anfrage.Erledigt</td>
                <td>@anfrage.Nachricht</td>
                <td>@anfrage.Kommentar</td>
                <td><a asp-action="Kommentar" asp-route-Id="@anfrage.Id" value="">Kommentieren</a></td>
                <td><button>Löschen</button></td>
            </tr>
        }
    </tbody>
</table>

<button><a asp-action="Index">Zurück</a></button>