@{
    Layout = "_Eingeloggt";
}

@model List<Anfrage>

<h3>Alle Tickets:</h3>
<table class="table table-bordered table-striped table-sm">
    <thead>
        <tr>
            <th>TicketId </th>
            <th>Kundenname</th>
            <th>Ansprechpartner</th>
            <th>Deadline</th>
            <th>Status</th>
            <th></th>
            <th>Nachricht</th>
            <th>Wer arbeitet?</th>
            <th>Kommentar</th>
            <th>Kommentar hinzufügen</th>
            <th>Löschen</th>
        </tr>
    </thead>
    <tbody>

        <h1>Admin Seite</h1>
        @foreach (Anfrage anfrage in Model)
        {
            <tr>
                <td>@anfrage.Id</td>
                <td>@anfrage.KundenName</td>
                <td>@anfrage.Ansprechpartner</td>
                <td>@anfrage.DeadLine.ToShortDateString()</td>
                @if (anfrage.Erledigt == true)
                {
                    <td>erledigt</td>
                }
                else
                {
                    <td>nicht erledigt</td>
                }
                <form asp-action="Erledigt" method="post">
                    <input type="hidden" name="id" value="@anfrage.Id" />
                @if (anfrage.Erledigt == true){
                    <td>
                        <button type="submit">zurücksetzen</button>
                    </td>
                }else{
                    <td>
                        <button type="submit">Erledigt markieren</button>
                    </td>
                }               
                </form>
                <td>@anfrage.Nachricht</td>
                <td class="text-center">Mitarbeiter Name</td>
                <td>@anfrage.Kommentar</td>
                <td><a asp-action="Kommentar" asp-route-Id="@anfrage.Id" value="">Kommentieren</a></td>
                <form asp-action="Löschen">
                    <input type="hidden" name="id" value="@anfrage.Id" />
                    <td><button>Löschen</button></td>
                </form>
               
            </tr>
        }
    </tbody>
</table>

<button><a asp-action="Index">Zurück</a></button>
<button><a asp-action="MitarbeiterTabelle">MA Tabelle</a></button>
<button><a asp-action="Kontakt">Anfrage Hinzufügen</a></button>


