@{
    Layout = "_EingeloggtMitarbeiter";
}

@model Anfrage

<div class="d-flex justify-content-between align-items-center ">
    <h3>Alle Tickets:</h3>
    <h1>Mitarbeiter Seite</h1>
</div>

<div class="d-flex justify-content-center">
    <table class="table table-bordered table-striped" style="min-width: 80vw;">
        <thead>
            <tr class="text-center">
                <th>Ticket ID</th>
                <th>Firmenname</th>
                <th>Projekt Name</th>
                <th>Ansprechpartner</th>
                <th>Deadline</th>
                <th colspan="2">Status</th>
                <th>Nachricht</th>
                <th colspan="2">Kommentar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Anfrage anfrage in AnfragenListe.anfragenListe)
            {
                <tr class="text-center">
                    <td>@anfrage.Id</td>
                    <td>@anfrage.KundenName</td>
                    <td>@anfrage.ProjektName</td>
                    <td>@anfrage.Ansprechpartner</td>
                    <td>@anfrage.DeadLine.ToShortDateString()</td>
                    @if (anfrage.Erledigt == true)
                    {
                        <td>erledigt</td>
                    }
                    else
                    {
                        <td>nicht erledigt</td>
                    }
                    <form asp-action="Erledigt" method="post">
                        <input type="hidden" name="id" value="@anfrage.Id" />
                        @if (anfrage.Erledigt == true)
                        {
                        <td class="text-center align-middle">
                            <button type="submit" class="btn btn-warning w-100 h-auto">zurücksetzen</button>
                        </td>
                        }
                        else
                        {
                        <td class="text-center align-middle">
                            <button type="submit" class="btn btn-success w-100 h-auto">Erledigt markieren</button>
                        </td>
                        }
                    </form>
                    <td>@anfrage.Nachricht</td>
                    <td class="text-center">
                        <div class="text-start">
                            Kommentar: @anfrage.Kommentar <br />
                            Erstellt am: @anfrage.KommentarZeit<br />
                            Von: @anfrage.KommentarUser
                        </div>
                    </td>
                    <td class="text-center align-middle">
                        <a asp-action="Kommentar" asp-route-Id="@anfrage.Id" value="" class="d-block">Kommentieren</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="d-flex justify-content-center">
    <div style="min-width: 80vw;">
        <div class="d-flex">
            <button class="btn btn-primary me-2"><a class="text-light" asp-controller="Home"  asp-action="IndexEingeloggt">Home</a></button>
            <button class="btn btn-primary me-2"><a class="text-light" asp-controller="Home" asp-action="SortierteAnfragenTabelle">Nach Projekt sortieren</a></button>
            <button class="btn btn-primary me-2"><a class="text-light" asp-controller="Home" asp-action="SortierteAnfragenTabelleDatum">Nach Datum sortieren</a></button>
        </div>
    </div>
</div>