
@{
    Layout = "_Eingeloggt";
}

@model MitarbeiterDaten

<div class="d-flex justify-content-between align-items-center ">
    <h3>Alle Tickets:</h3>
    <h1>Mitarbeiter Seite</h1>
</div>
<table class="table table-bordered table-striped table-sm">
    <thead>
        <tr>
            <th class="text-center">Ticket ID </th>
            <th class="text-center">Firmenname</th>
            <th class="text-center">Projekt Name</th>
            <th class="text-center">Ansprechpartner</th>
            <th class="text-center">Deadline</th>
            <th class="text-center">Status</th>
            <th></th>
            <th class="text-center">Nachricht</th>
            <th class="text-center">Kommentar</th>
            <th class="text-center">Kommentar hinzufügen</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Anfrage anfrage in AnfragenListe.anfragenListe)
        {
            <tr>
                <td class="text-center">@anfrage.Id</td>
                <td class="text-center">@anfrage.KundenName</td>
                <td class="text-center">@anfrage.ProjektName</td>
                <td class="text-center">@anfrage.Ansprechpartner</td>
                <td class="text-center">@anfrage.DeadLine.ToShortDateString()</td>

                @if (anfrage.Erledigt == true)
                {
                    <td class="text-center">erledigt</td>
                }
                else
                {
                    <td class="text-center">nicht erledigt</td>
                }
                <form asp-action="Erledigt" method="post">
                    <input type="hidden" name="id" value="@anfrage.Id" />
                    @if (anfrage.Erledigt == true)
                    {
                    <td>
                        <button type="submit" class="btn btn-warning w-100 h-100">zurücksetzen</button>
                    </td>
                    }
                    else
                    {
                    <td>
                        <button type="submit" class="btn btn-success w-100 h-100">Erledigt markieren</button>
                    </td>
                    }
                </form>
                <td class="text-center">@anfrage.Nachricht</td>
                <td class="text-center">
                    Kommentar: @anfrage.Kommentar <br />
                    Erstellt am: @anfrage.KommentarZeit<br />
                    Von: @anfrage.EingeloggterUser
                </td>
                <td class="text-center"><a asp-action="Kommentar" asp-route-Id="@anfrage.Id" value="" class="">Kommentieren</a></td>
            </tr>
        }
    </tbody>
</table>

<button class="btn btn-primary"><a class="text-light" asp-action="Index">Home</a></button>