@{
    Layout = "_Eingeloggt";
}

@model Anfrage


<form asp-controller="Admin" asp-action="AddTicket" method="post" class="contact-form">
    <div class="form-group">
        <label><strong>Firmen Name: </strong></label>
        <select asp-for="@Model.KundenName" class="form-select">
        @foreach(var project in AnfragenListe.anfragenListe){
                <option value="@project.KundenName">@project.KundenName</option>
        }
        </select>
       @*  <input type="text" asp-for="@Model.KundenName" placeholder="Firmen Name" class="form-control bg-light"> *@
    </div>

    <div class="form-group">
        <label><strong>Mitarbeiter Name: </strong></label>
        <input type="text" asp-for="@Model.Ansprechpartner" placeholder="Name" class="form-control bg-light">
    </div>

    <div class="form-group">
        <label><strong>Email: </strong></label>
        <input type="text" asp-for="Email" placeholder="Email" class="form-control bg-light">
    </div>

    <div class="form-group">
        <label><strong>Telefonnummer: </strong></label>
        <input type="text" asp-for="Telefon" placeholder="Telefon" class="form-control bg-light">
    </div>

    <div class="form-group">
        <label><strong>Wunschtermin: </strong></label>
        <input type="date" asp-for="DeadLine" placeholder="Wunschtermin" class="form-control bg-light">
    </div>

    <div class="form-group">
        <label><strong>Ihre Nachricht an uns: </strong></label>
        <textarea asp-for="Nachricht" placeholder="Nachricht" class="form-control bg-light" rows="4" style="resize: vertical;"></textarea>
    </div>

    <button type="submit" class="btn btn-secondary mt-3">Senden</button>
</form>