
@{
    Layout = "_Eingeloggt";
}

@model MitarbeiterDaten

<form asp-action="AddMitarbeiter" method="post" class="contact-form">
    <label>Rolle</label>
    <input asp-for="@Model.Rolle"/>
    <label>Vorname</label>
    <input asp-for="@Model.Vorname" />
    <label>Nachname</label>
    <input asp-for="@Model.Nachname" />
    <label>Username</label>
    <input asp-for="@Model.UserName" />
    <label>Passwort</label>
    <input asp-for="@Model.Passwort" />
    <button class="btn btn-primary">Bestätigen</button>
</form>
