@{
    Layout = "_Eingeloggt";
}
@model List<MitarbeiterDaten>

<div class="d-flex justify-content-between align-items-center ">
    <h3>Alle Mitarbeiter Daten:</h3>
    <h1>Admin Seite</h1>
</div>

<table class="table table-bordered table-striped table-sm">
    <thead>
        <tr>
            <th class="text-center" style="width: 75px;">M ID</th>
            <th class="text-center">Rolle</th>
            <th class="text-center">Vorname</th>
            <th class="text-center">Nachname</th>
            <th class="text-center">Username</th>
            <th class="text-center">Passwort</th>
            <th class="text-center" style="width: 75px;">Löschen</th>
        </tr>
    </thead>
    <tbody>
        @foreach (MitarbeiterDaten mitarbeiter in Model)
        {
            <tr>
                <td class="text-center">@mitarbeiter.Id</td>
                <td>@mitarbeiter.Rolle</td>
                <td>@mitarbeiter.Vorname</td>
                <td>@mitarbeiter.Nachname</td>
                <td>@mitarbeiter.UserName</td>
                <td>@mitarbeiter.Passwort</td>
                <form asp-action="DeleteMitarbeiter">
                    <input type="hidden" name="id" value="@mitarbeiter.Id" />
                <td><button class="btn btn-danger w-70 h-100">Löschen</button></td>
                </form>
            </tr>
        }
    </tbody>
</table>

<button class="btn btn-primary"><a class="text-light" asp-action="Index">Home</a></button>
<button class="btn btn-primary"><a class="text-light" asp-action="AddMitarbeiter">Mitarbeiter hinzufügen</a></button>
<button class="btn btn-primary"><a class="text-light" asp-action="AnfragenTabelleAdmin">Zurück zur Tabelle</a></button>